{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <div class="welcome-container">
        <h1>Welcome!</h1>
        <p>What will you do...</p>
        {{ include('components/bigbuttons.html.twig', {variant: "button-secondary", content: "Log In"}) }}
        <p>Maybe none of these...</p>
        {{ include('components/Link.html.twig', { href: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ', variant: "blue", text: "Click here ;)" }) }}
    </div>
{% endblock %}
