{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    .welcome-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 276px;
        align-items: center;
        color: var(--text-light);
    }

    p {
        color: var(--text-muted);
    }

    .pfooter{
        color: var(--text-light);
    }

    .link {
        width: 100%;
    }

    </style>
{% endblock %}

{% block body %}
    <div class="welcome-container">
        <h1>Welcome!</h1>
        <p>What will you do...</p>
        <a class="link" href="register">
            {{ include('components/bigbuttons.html.twig', {label: "Create an account", inactive: true}) }}
        </a>
        <a class="link" href="login">
            {{ include('components/bigbuttons.html.twig', {label: "Log In", inactive: true}) }}
        </a>
        <p class="pfooter">Maybe none of these...</p>
        {{ include('components/Link.html.twig', { href: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ', variant: "blue", text: "Click here ;)" }) }}
    </div>
{% endblock %}
