input {
    all: unset;
}
a {
    color: white;
}

/* NAV BUTTONS */
.nav-button {
    display: flex;
    align-items: center;
    padding: 10px 16px 10px 8px;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--bg-gray);
    color: var(--text-muted);
    font-size: var(--font-big-text);
    cursor: pointer;
    width: max-content;
    height: max-content;
}

.nav-button .icon path {
    stroke: var(--text-muted);
}

.nav-button-action {
    color: var(--text-light);
    font-size: var(--font-big-text);
    background-color: var(--blue-prim);
}

.nav-button-action .icon path {
    stroke: var(--white);
}

.nav-button:hover {
    background-color: var(--gray);
}

.nav-button-action:hover {
    background-color: var(--blue-prim-hover);
}
/* LIKNK */

.link-component {
    color: var(--text-light);
    text-decoration: underline;
    font-size: var(--font-link);
}

.link-component-blue {
    color: var(--blue-prim);
}

.link-component-blue:hover {
    color: var(--blue-prim-hover);
}

/* INPUT COMPONENT */

.input-component {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
    color: var(--text-light);
}
.input-component input {
    padding: 10px 24px 10px 16px;
    border-radius: 10px;
    font-style: var(--font-paragraph);
    background-color: var(--gray);
    border: 1px solid var(--button-border);
}

.input-component input:focus {
    outline: none;
    color: var(--text-white);
    border: 1px solid var(--blue-prim);
}

.input-component label {
    color: var(--text-light);
    font-size: var(--font-paragraph);
}

/* QUICK ACTIONS */

.quick-action {
    display: flex;
    flex-direction: flex;
    gap: 6px;
    padding: 4px 8px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--bg-gray);
    width: max-content;
    height: max-content;
    cursor: pointer;
}

.quick-action .text {
    color: var(--text-muted)
}

.quick-action .icon path {
    stroke: var(--text-muted);
}

.quick-action:hover {
    background-color: var(--gray);
    border: 1px solid var(--button-border);
}