<div class="big-button">
    <div class="icon">
        {% include 'components/Icon.html.twig' with { 'selected_icon': iconName, "size": "sm" } %}
    </div>
    <span class="text">{{ text }}</span>
</div>