<a href="{{ href }}" class="link-composant {{ class|default('') }} {% if variant == 'blue' %}link-composant-blue{% endif %}" target="{{ target|default('_self') }}">
    {{ text|default('Link') }}
</a>