<a href="{{ href }}" class="link-component {{ class|default('') }} {% if variant|default("") == 'blue' %}link-component-blue{% endif %}" target="{{ target|default('_self') }}">
    {{ text|default('Link') }}
</a>