<div class="quick-action {{class|default('')}}">
    <span class="icon">
        {% include 'composents/Icon.html.twig' with { 'iconName': iconName, "size": "sm" } %}
    </span>
    <span class="text">{{ text|default("Text") }}</span>
</div>
